<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>

    <title>Todo_index</title>
</head>

<body>

    <form action="{% url 'todo:create' %}">
        <p class="text-white">할 일<input type="text" name="content" maxlength="80"></p>
        <p class="text-">우선 순위<input type="text" name="priority" maxlength="80"></p>
        <p>마감 기한<input type="text" name="deadline" maxlength="80"></p>
        <input type="submit" value="할 일 추가">
    </form>
    <hr>
    <ul>
        {% for todo in todos %}
        <li>{{todo.id}} - {{todo.content}} - {{todo.priority}} - {{todo.deadline}}
            <a href="/todo/delete/{{ todo.pk }}">
                [삭제]
            </a>
        </li>
        {% endfor %}
    </ul>

    <hr>
</body>

</html>