<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>random_base</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
    <h1>이름을 입력하세요</h1>
    <form action="/random_life" method="GET">
        <div class="my-2 ms-2">
            <input class="form-control" type="text" name="random">
        </div>
        <div class="ms-2">
        <button type="submit" class="btn btn-primary mb-3">전생 확인하기</button>
        </div>
    </form>

</html>