<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .bg{
            background-color: black;
        }
        .ma{
            margin: 0 auto;
        }
    </style>
</head>

<body class="black">
    <hr class="ma">

        <h1 class="ma">
            {%for num in number%}
            {{num}}
            {%endfor%}
        </h1>
        <h1 class="ma">
            {%for num2 in number2%}
            {{num2}}
            {%endfor%}
        </h1>
        <h1 class="ma">
            {%for num3 in number3%}
            {{num3}}
            {%endfor%}
        </h1>
        <h1 class="ma">
            {%for num4 in number4%}
            {{num4}}
            {%endfor%}
        </h1>
        <h1 class="ma">
            {%for num5 in number5%}
            {{num5}}
            {%endfor%}
        </h1>

</body>
</html>