{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block body %}

  <div class="container mx-4 my-4">
    <h1 class="fw-bold my-4">리뷰 작성</h1>
    <form action="{% url 'review:create' %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form review_form %}
      <div class="d-grid gap-2">
        {% bootstrap_button content="작성완료" button_type="submit" class="btn btn-primary col-12" %}
      </div>
    </form>

  </form>
  <button type="button" class="btn btn-success mt-2">
    <a class="text-white" href="{% url 'review:index'%}">홈으로</a>

  {% endblock body %}
