{% extends 'base.html' %}

{% block body %}

  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <div class="containter mx-5">
    <div class="row mx-5">
      <div class="col mx-5">
        <h1 class="fw-bold my-2">리뷰 수정</h1>
        <form action="" method="POST">
          {% csrf_token %}
          {% bootstrap_form review_form %}
          <div class="d-grid gap-2 mb-4">
            {% bootstrap_button content="수정완료" button_type="submit" class="btn-btn-primary col-12"  %}
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock body %}